# Twitter API Credentials
TWITTER_API_KEY=D9wtFUbQyEEiYnmzVxWADCgbq
TWITTER_API_SECRET=OBmzRH4MY8uHdwZSPpOr3biwTa1taGYq5VqoQo8HYgKL7XNh02

# Gemini API Key
GEMINI_API_KEY=AIzaSyAHgKkVi41zzeN_lrpOvCz_-imUUdgyZZM

# Data Path
CRICKET_DATA_PATH=../cricket-data

# Server Configuration
PORT=3001
CORS_ORIGIN=http://localhost:3000
